* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f172a;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  color: white;
}

.app {
  width: 400px;
  background: #020617;
  padding: 20px;
  border-radius: 12px;
}

h2 {
  text-align: center;
  margin-bottom: 15px;
}

form {
  display: flex;
  gap: 8px;
}

input {
  flex: 1;
  padding: 8px;
  border-radius: 6px;
  border: none;
  background: #1e293b;
  color: #ffffff;
}

input:focus {
  outline: none;
}

button {
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
  margin-top: 20px;
}

li {
  background: #020617;
  border: 1px solid #1e293b;
  padding: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-li {
  display: flex;
  border: none;
}

.actions button {
  margin-left: 5px;
  font-size: 12px;
}

.todo-text {
  flex: 1;
  margin-left: 10px;
  background: transparent;
  color: #ffffff;
  font-size: 16px;
}

.todo-text::placeholder {
  color: #ffffff;
  opacity: 1;
}
